@model ForgotPassword
@{
Layout="~/Views/Shared/HomeLayout.cshtml";
ViewData["Title"] = "Forget Password Page";
}

@section Navigation{
<li class="nav-item">
  <a class="nav-link waves-effect" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect" asp-controller="Home" asp-action="Blogs">Blogs</a>
</li>
<li class="nav-item active">
  <a class="nav-link waves-effect" asp-controller="Home" asp-action="Login">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect" asp-controller="Home" asp-action="Register">Register</a>
</li>
}

<div class="row">
  <div class="col-3"></div>
  <!--Card : Dynamic content wrapper-->

  <div class="col-sm-6">
    <!-- Default form login -->
    <!-- Default form subscription -->
    <form class="text-center border border-light p-5" method="post" asp-action="ForgotPassword" asp-controller="Home">

      <p class="h4 mb-4">Forgot Password</p>

      <p>After entering detail you will get your Password</p>
      <!-- E-mail -->
      <input type="email" class="form-control mb-4" asp-for="email" placeholder="E-mail">
      <span asp-validation-for="email" class="text-danger"></span>

      <!-- Phone number -->
      <input type="number" class="form-control mb-4" asp-for="mobile" placeholder="Mobile number">
      <span asp-validation-for="mobile" class="text-danger"></span>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
      <hr>
      <p>Go to ?
        <a asp-controller="Home" asp-action="Login">Login</a> Page
      </p>
      
      @if(TempData["Message"] != null)
      {
      <div class='alert @TempData["Class"]'>
        @TempData["Message"]
      </div>
      }

    </form>
    <!-- Default form subscription -->
    <!-- Default form login -->
  </div>
  <!--/.Card : Dynamic content wrapper-->
  <div class="col-3"></div>
</div>